[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/filipwasil/stb.git
[submodule "ext/glew"]
	path = ext/glew
	url = https://github.com/hrehfeld/glew-cmake.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/tinyobjloader"]
	path = ext/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "ext/assimp"]
	path = ext/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ext/android-cmake"]
	path = ext/android-cmake
	url = https://github.com/taka-no-me/android-cmake.git
[submodule "ext/ios-cmake"]
	path = ext/ios-cmake
	url = https://github.com/filipwasil/ios-cmake.git
[submodule "ext/gtest"]
	path = ext/gtest
	url = https://github.com/google/googletest.git
[submodule "ext/glmock"]
	path = ext/glmock
	url = https://github.com/filipwasil/glmock.git
[submodule "ext/gli"]
	path = ext/gli
	url = https://github.com/filipwasil/gli.git
