inc/fillwave/Config.h
cmake-build-debug/*
.idea
examples/editor/.idea
build/*
doc/quickstart/quickstart.aux
doc/quickstart/quickstart.log
doc/quickstart/quickstart.out
doc/quickstart/quickstart.pdf
doc/quickstart/quickstart.synctex.gz
doc/quickstart/quickstart.toc
doc/www/*
doc/reports/*
doc/doxygen_doc/*
