[project]
	description = Multiplatform C++11 graphics engine
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Filip Wasil (filipwasil)
[access "refs/for/refs/*"]
	read = group Fillwave_developers
	read = group user/Filip Wasil (filipwasil)
	push = group Fillwave_developers
	push = group user/Filip Wasil (filipwasil)
	label-Code-Review = -2..+2 group user/Filip Wasil (filipwasil)
	label-Code-Review = -2..+1 group Fillwave_developers
	label-Verified = -1..+1 group Fillwave_developers
	label-Verified = -1..+1 group user/Filip Wasil (filipwasil)
	rebase = group Fillwave_developers
	rebase = group user/Filip Wasil (filipwasil)
	removeReviewer = group Fillwave_developers
	removeReviewer = group user/Filip Wasil (filipwasil)
	submit = group Fillwave_developers
	submit = group user/Filip Wasil (filipwasil)
[access "refs/heads/*"]
	read = group user/Filip Wasil (filipwasil)
	create = group user/Filip Wasil (filipwasil)
	push = +force group user/Filip Wasil (filipwasil)
	pushMerge = group user/Filip Wasil (filipwasil)
[access "refs/tags/*"]
	push = +force group user/Filip Wasil (filipwasil)
	pushTag = group user/Filip Wasil (filipwasil)
	pushSignedTag = group user/Filip Wasil (filipwasil)
